# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    _instanceof:
        App\Gateway\GatewayInterface:
            tags: ['app.gateway.gateway']
        App\Money\Conversion\ExchangeInterface:
            tags: ['app.money.conversion.exchange']
        App\Money\Totalization\TotalizerInterface:
            tags: ['app.money.totalization.totalizer']
        App\Matchfunding\Formula\FormulaInterface:
            tags: ['app.matchfunding.formula']
        App\Matchfunding\Rule\RuleInterface:
            tags: ['app.matchfunding.rule']
        App\Service\Embed\UriProcessorInterface:
            tags: ['app.service.embed.uri_processor']
        AutoMapper\Provider\ProviderInterface:
            tags: ['app.mapping.map_provider']
        AutoMapper\Transformer\PropertyTransformer\PropertyTransformerInterface:
            tags: ['app.mapping.map_transformer']

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\DependencyInjection\SystemVariablesLoader:
        tags: ['container.env_var_loader']

    App\OpenApi\OpenApiFactory:
        autoconfigure: false
        decorates: 'api_platform.openapi.factory'
        arguments:
            - '@App\OpenApi\OpenApiFactory.inner'

    App\Gateway\GatewayLocator:
        arguments:
            - !tagged 'app.gateway.gateway'

    App\Gateway\Paypal\PaypalService:
        arguments:
            - '%env(PAYPAL_API_ADDRESS)%'
            - '%env(PAYPAL_CLIENT_ID)%'
            - '%env(PAYPAL_CLIENT_SECRET)%'
            - '%env(PAYPAL_WEBHOOK_ID)%'

    App\Gateway\Stripe\StripeGateway:
        arguments:
            - '%env(STRIPE_API_KEY)%'
            - '%env(STRIPE_WEBHOOK_SECRET)%'

    App\Identifier\IdOrSlugUriVariableTransformer:
        tags:
            - { name: api_platform.uri_variables.transformer }

    App\Matchfunding\Formula\FormulaLocator:
        arguments:
            - !tagged 'app.matchfunding.formula'

    App\Matchfunding\Rule\RuleLocator:
        arguments:
            - !tagged 'app.matchfunding.rule'

    App\Service\Auth\AuthService:
        arguments:
            - '%env(APP_SECRET)%'

    App\Service\LocalizationService:
        arguments:
            - '%kernel.default_locale%'

    App\Service\Embed\EmbedService:
        arguments:
            - !tagged 'app.service.embed.uri_processor'

    App\State\MoneyTotalStateProvider:
        arguments:
            - !tagged 'api_platform.doctrine.orm.query_extension.collection'

    App\Money\MoneyService:
        arguments:
            - '%env(CURRENCY_DEFAULT)%'

    App\Money\Conversion\ExchangeLocator:
        arguments:
            - !tagged 'app.money.conversion.exchange'

    App\Money\Totalization\TotalizerLocator:
        arguments:
            - !tagged 'app.money.totalization.totalizer'

    App\Mapping\AutoMapper:
        arguments:
            - '%kernel.cache_dir%'
            - !tagged 'app.mapping.map_provider'
            - !tagged 'app.mapping.map_transformer'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
