<footer class="text-variant1" role="contentinfo" aria-labelledby="footer-heading">

	<div
		class="bg-secondary relative rounded-t-3xl bg-size-[116%_114%] bg-position-[-127%_42%] bg-no-repeat min-[700px]:bg-size-[64%_108%] min-[700px]:bg-position-[114%]" style="background-image: url('/path2.svg');">
		<!-- Main Footer Content -->
		<section class="relative z-10 py-6 sm:py-8 md:py-10" aria-labelledby="footer-navigation-heading">
			<div class="mx-auto max-w-360 px-4 md:px-8">
				<div
					class="flex flex-col gap-8 lg:flex-row lg:justify-between lg:gap-8">
					<!-- Logo -->
					<div class="flex justify-center lg:justify-end">
						<div class="h-8 w-28 sm:h-10 sm:w-36">
							<svg width="132" height="40" viewbox="0 0 132 40" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_1775_2419)">
									<path d="M14.075 0.00383104C14.1746 -0.0170173 14.185 0.0507396 14.1919 0.121971C15.867 5.34883 18.2921 8.77056 21.4412 12.3191C24.4543 15.7139 27.9386 18.9289 28.2236 24.8681C28.447 29.5355 26.4091 33.3091 24.2482 35.6571C21.837 38.2788 17.9222 40.0831 13.8412 39.9971C9.6458 39.9076 6.21173 38.0521 3.78492 35.3062C1.36765 32.5716 -0.29353 29.1099 0.043382 24.3981C0.537924 17.473 5.72585 14.0912 9.04733 9.73914C11.2065 6.90724 12.7135 3.97805 14.075 0.00383104ZM5.42185 25.8071C5.46342 28.9683 7.1679 31.854 9.51502 33.3134C12.8261 35.3713 17.432 34.844 20.1559 32.139C21.5936 30.7126 22.5697 28.7216 22.8451 25.8071C19.2093 25.8071 18.3795 25.7533 14.1547 25.7533C14.1547 22.8597 14.1928 19.7854 14.1928 16.8936C9.14087 16.8806 5.36035 21.0572 5.42185 25.8071Z" class="fill-variant1"/>
									<path d="M54.5328 19.9414C53.1176 20.0865 51.6348 20.1629 50.2058 20.2941C49.9225 19.8276 49.6142 19.4385 49.3873 19.1205C48.9395 18.4951 48.0422 17.6707 47.1658 17.3614C43.4156 16.0402 39.5632 18.5741 39.0981 22.756C38.6745 26.553 40.2257 30.4837 43.4242 31.3168C47.2004 32.3019 49.829 29.8887 50.4509 26.9934C49.0409 26.9934 47.1311 27.0516 45.5288 26.976C45.5288 25.7642 45.5288 24.5541 45.5288 23.3397C48.6858 23.3397 51.8435 23.3397 54.9996 23.3397C54.9866 28.0158 54.0538 30.8616 51.8427 32.9569C48.0743 36.5289 41.1854 36.1354 37.6941 32.7215C35.4648 30.5411 34.325 27.0985 34.6532 22.7507C35.0343 17.7211 38.3376 13.6339 44.008 13.1336C49.8628 12.621 53.3072 15.5025 54.5328 19.9414Z" class="fill-variant1"/>
									<path d="M66.4567 13.2571C72.8728 12.9313 77.4397 17.6526 77.4501 24.1643C77.4639 31.1728 72.5003 35.4224 66.8083 35.4224C61.164 35.4232 57.1548 31.3656 56.6352 26.0406C55.9258 18.7246 59.903 13.5881 66.4567 13.2571ZM61.5477 27.6815C62.3419 29.7629 64.2993 31.3917 66.8092 31.4351C75.1116 31.5819 75.0034 16.1185 66.2246 17.2443C62.1479 17.7664 59.6925 22.8274 61.5477 27.6815Z" class="fill-variant1"/>
									<path d="M120.366 13.2573C126.32 12.9316 130.809 16.9848 131.356 22.64C132.044 29.7162 127.675 35.4226 120.834 35.4226C114.497 35.4235 110.558 30.5797 110.544 24.5154C110.53 18.2835 114.162 13.5944 120.366 13.2573ZM117.911 17.9482C113.593 20.6898 113.878 31.4805 120.951 31.4354C126.238 31.4006 128.668 24.1767 125.863 19.8246C124.808 18.1906 122.739 16.8632 120.133 17.2446C118.957 17.4157 118.54 17.5469 117.911 17.9482Z" class="fill-variant1"/>
									<path d="M93.0041 13.491C93.0041 14.8209 93.0041 16.15 93.0041 17.4791C91.1723 17.4791 89.3405 17.4791 87.5078 17.4791C87.5078 23.3045 87.5078 29.129 87.5078 34.9543C86.0641 34.9543 84.6237 34.9543 83.1808 34.9543C83.1808 29.1672 83.1808 23.2914 83.1808 17.506C81.4304 17.506 79.6021 17.4791 77.8023 17.4791C77.8023 16.0405 77.7764 14.8591 77.7764 13.491C82.8032 13.491 87.9747 13.491 93.0041 13.491Z" class="fill-variant1"/>
									<path d="M108.908 13.4909C108.908 14.7817 108.962 16.1751 108.962 17.4651C105.927 17.4651 103.032 17.479 99.9049 17.479C99.9049 19.0035 99.9049 20.6644 99.9049 22.1872C102.586 22.1872 105.346 22.1707 108.324 22.1707C108.324 23.459 108.324 24.7498 108.324 26.0398C105.519 26.0398 102.713 26.0398 99.9049 26.0398C99.9049 27.8484 99.8659 29.6588 99.8659 31.1068C102.786 31.1068 105.144 31.0825 108.791 31.0825C108.791 32.3725 108.791 33.6634 108.791 34.9534C104.349 34.9534 99.9049 34.9534 95.4627 34.9534C95.5389 27.8389 95.3051 20.4108 95.5779 13.49C100.021 13.4909 104.463 13.4909 108.908 13.4909Z" class="fill-variant1"/>
								</g>
								<defs>
									<clipPath id="clip0_1775_2419">
										<rect width="131.429" height="40" fill="white"/>
									</clipPath>
								</defs>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Bottom Footer -->
		<section class="relative z-10 pb-6 sm:pb-8 md:pb-10" aria-labelledby="footer-bottom-heading">
			<div class="mx-auto max-w-360 px-4 md:px-8">
				<div
					class="flex flex-col gap-4 sm:gap-6 lg:flex-row lg:items-center lg:justify-between">
					<div
						class="flex flex-col gap-4 sm:gap-6 md:flex-row md:items-center">
						<!-- Social Media Icons -->
						<div class="flex items-center justify-center gap-2 lg:justify-start" role="list" aria-label="Social media links">
							<a href="mailto:info@goteo.org" class="focus:ring-purple-soft focus:ring-offset-secondary rounded-sm transition-all duration-200 hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none" aria-label="Send email to info@goteo.org">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-variant1 overflow-hidden rounded-[4.8px]">
									<g clip-path="url(#clip0)">
										<rect width="24" height="24" rx="4.8" class="fill-variant1"></rect>
										<path d="M4 6V18H7.5V12.5L12 15.5L16.5 12.5V18H20V6C20 5.45 19.55 5 19 5H18.5C18.22 5 17.95 5.11 17.75 5.31L12 10.25L6.25 5.31C6.05 5.11 5.78 5 5.5 5H5C4.45 5 4 5.45 4 6Z" class="fill-secondary"></path>
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="24" height="24" rx="4.8" fill="white"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
							<a href="https://instagram.com/goteofunding" class="focus:ring-purple-soft focus:ring-offset-secondary rounded-sm transition-all duration-200 hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none" aria-label="Follow us on Instagram">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-variant1 overflow-hidden rounded-[4.8px]">
									<g clip-path="url(#clip0)">
										<rect width="24" height="24" rx="4.8" class="fill-variant1"></rect>
										<path d="M12 7.2C9.35 7.2 7.2 9.35 7.2 12C7.2 14.65 9.35 16.8 12 16.8C14.65 16.8 16.8 14.65 16.8 12C16.8 9.35 14.65 7.2 12 7.2ZM12 15.6C10.02 15.6 8.4 13.98 8.4 12C8.4 10.02 10.02 8.4 12 8.4C13.98 8.4 15.6 10.02 15.6 12C15.6 13.98 13.98 15.6 12 15.6Z" class="fill-secondary"></path>
										<path d="M15.85 4.8H8.15C6.24 4.8 4.8 6.24 4.8 8.15V15.85C4.8 17.76 6.24 19.2 8.15 19.2H15.85C17.76 19.2 19.2 17.76 19.2 15.85V8.15C19.2 6.24 17.76 4.8 15.85 4.8ZM18 15.85C18 17.1 16.99 18 15.85 18H8.15C6.9 18 6 17.1 6 15.85V8.15C6 6.9 6.9 6 8.15 6H15.85C16.99 6 18 6.9 18 8.15V15.85Z" class="fill-secondary"></path>
										<circle cx="16.92" cy="7.08" r="0.84" class="fill-secondary"></circle>
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="24" height="24" rx="4.8" fill="white"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
							<a href="https://facebook.com/goteofunding" class="focus:ring-purple-soft focus:ring-offset-secondary rounded-sm transition-all duration-200 hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none" aria-label="Follow us on Facebook">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-variant1 overflow-hidden rounded-[4.8px]">
									<g clip-path="url(#clip0)">
										<rect width="24" height="24" rx="4.8" class="fill-variant1"></rect>
										<path d="M13.5 18.4V12.8H15.5L15.8 10.4H13.5V8.9C13.5 8.2 13.7 7.7 14.7 7.7H15.9V5.6C15.7 5.6 14.9 5.5 14 5.5C12.1 5.5 10.8 6.6 10.8 8.6V10.4H8.8V12.8H10.8V18.4H13.5Z" class="fill-secondary"></path>
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="24" height="24" rx="4.8" fill="white"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
							<a href="https://twitter.com/goteofunding" class="focus:ring-purple-soft focus:ring-offset-secondary rounded-sm transition-all duration-200 hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none" aria-label="Follow us on X (formerly Twitter)">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-variant1 overflow-hidden rounded-[4.8px]">
									<g clip-path="url(#clip0)">
										<rect width="24" height="24" rx="4.8" class="fill-variant1"></rect>
										<path d="M18.3 7.2L15.8 10.4L18.8 17.6H15.9L13.9 12.8L11.4 17.6H8.5L11.9 12.8L9.1 7.2H12L13.7 11.4L15.9 7.2H18.3Z" class="fill-secondary"></path>
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="24" height="24" rx="4.8" fill="white"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
							<a href="https://www.linkedin.com/company/platoniqlab" class="focus:ring-purple-soft focus:ring-offset-secondary rounded-sm transition-all duration-200 hover:opacity-80 focus:ring-2 focus:ring-offset-2 focus:outline-none" aria-label="Connect with us on LinkedIn">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-variant1 overflow-hidden rounded-[4.8px]">
									<g clip-path="url(#clip0)">
										<rect width="24" height="24" rx="4.8" class="fill-variant1"></rect>
										<path d="M8.8 18.4H6.4V10.4H8.8V18.4ZM7.6 9.4C6.8 9.4 6.2 8.8 6.2 8C6.2 7.2 6.8 6.6 7.6 6.6C8.4 6.6 9 7.2 9 8C9 8.8 8.4 9.4 7.6 9.4ZM18.4 18.4H16V14.5C16 13.6 16 12.5 14.8 12.5C13.6 12.5 13.4 13.4 13.4 14.4V18.4H11V10.4H13.3V11.4H13.3C13.6 10.8 14.4 10.2 15.5 10.2C17.9 10.2 18.4 11.7 18.4 13.7V18.4Z" class="fill-secondary"></path>
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="24" height="24" rx="4.8" fill="white"></rect>
										</clipPath>
									</defs>
								</svg>
							</a>
						</div>

						<!-- Platoniq Foundation -->
						<div class="text-variant1 flex flex-col items-center lg:items-start">
							<svg width="85" height="26" viewbox="0 0 85 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.33508 21V5.63912H7.39542C8.56049 5.63912 9.55305 5.86163 10.3731 6.30666C11.1931 6.74668 11.8182 7.35922 12.2482 8.14426C12.6832 8.92431 12.9007 9.82436 12.9007 10.8444C12.9007 11.8645 12.6807 12.7645 12.2407 13.5446C11.8007 14.3246 11.1631 14.9322 10.3281 15.3672C9.49805 15.8022 8.49299 16.0197 7.31292 16.0197H3.4502V13.4171H6.78789C7.41293 13.4171 7.92796 13.3096 8.33298 13.0945C8.743 12.8745 9.04802 12.572 9.24803 12.187C9.45304 11.797 9.55555 11.3494 9.55555 10.8444C9.55555 10.3344 9.45304 9.88936 9.24803 9.50934C9.04802 9.12432 8.743 8.8268 8.33298 8.61679C7.92295 8.40178 7.40292 8.29427 6.77289 8.29427H4.58276V21H1.33508ZM18.1454 5.63912V21H14.9502V5.63912H18.1454ZM23.9901 21.2175C23.2551 21.2175 22.6 21.09 22.025 20.835C21.45 20.575 20.995 20.1925 20.6599 19.6874C20.3299 19.1774 20.1649 18.5424 20.1649 17.7823C20.1649 17.1423 20.2824 16.6047 20.5174 16.1697C20.7524 15.7347 21.0725 15.3847 21.4775 15.1197C21.8825 14.8546 22.3425 14.6546 22.8576 14.5196C23.3776 14.3846 23.9226 14.2896 24.4927 14.2346C25.1627 14.1646 25.7027 14.0996 26.1127 14.0396C26.5228 13.9746 26.8203 13.8796 27.0053 13.7546C27.1903 13.6296 27.2828 13.4446 27.2828 13.1996V13.1545C27.2828 12.6795 27.1328 12.312 26.8328 12.052C26.5378 11.792 26.1177 11.662 25.5727 11.662C24.9977 11.662 24.5402 11.7895 24.2001 12.0445C23.8601 12.2945 23.6351 12.6095 23.5251 12.9895L20.5699 12.7495C20.7199 12.0495 21.015 11.4445 21.455 10.9344C21.895 10.4194 22.4625 10.0244 23.1576 9.74935C23.8576 9.46934 24.6677 9.32933 25.5877 9.32933C26.2278 9.32933 26.8403 9.40433 27.4253 9.55434C28.0154 9.70435 28.5379 9.93686 28.9929 10.2519C29.4529 10.5669 29.8155 10.9719 30.0805 11.467C30.3455 11.957 30.478 12.5445 30.478 13.2296V21H27.4478V19.4024H27.3578C27.1728 19.7624 26.9253 20.0799 26.6153 20.355C26.3053 20.625 25.9327 20.8375 25.4977 20.9925C25.0627 21.1425 24.5602 21.2175 23.9901 21.2175ZM24.9052 19.0124C25.3752 19.0124 25.7902 18.9199 26.1503 18.7349C26.5103 18.5449 26.7928 18.2898 26.9978 17.9698C27.2028 17.6498 27.3053 17.2873 27.3053 16.8823V15.6597C27.2053 15.7247 27.0678 15.7847 26.8928 15.8397C26.7228 15.8897 26.5303 15.9372 26.3153 15.9822C26.1002 16.0222 25.8852 16.0597 25.6702 16.0947C25.4552 16.1247 25.2602 16.1522 25.0852 16.1772C24.7102 16.2322 24.3826 16.3197 24.1026 16.4397C23.8226 16.5597 23.6051 16.7223 23.4501 16.9273C23.2951 17.1273 23.2176 17.3773 23.2176 17.6773C23.2176 18.1123 23.3751 18.4449 23.6901 18.6749C24.0101 18.8999 24.4152 19.0124 24.9052 19.0124ZM39.0847 9.47934V11.8795H32.1468V9.47934H39.0847ZM33.7219 6.71918H36.9171V17.4598C36.9171 17.7548 36.9621 17.9848 37.0521 18.1498C37.1421 18.3098 37.2671 18.4224 37.4271 18.4874C37.5922 18.5524 37.7822 18.5849 37.9972 18.5849C38.1472 18.5849 38.2972 18.5724 38.4472 18.5474C38.5972 18.5174 38.7122 18.4949 38.7922 18.4799L39.2948 20.8575C39.1347 20.9075 38.9097 20.965 38.6197 21.03C38.3297 21.1 37.9772 21.1425 37.5622 21.1575C36.7921 21.1875 36.1171 21.085 35.537 20.85C34.962 20.615 34.5145 20.25 34.1945 19.7549C33.8744 19.2599 33.7169 18.6349 33.7219 17.8798V6.71918ZM46.2477 21.225C45.0826 21.225 44.075 20.9775 43.225 20.4825C42.3799 19.9824 41.7274 19.2874 41.2674 18.3974C40.8073 17.5023 40.5773 16.4647 40.5773 15.2847C40.5773 14.0946 40.8073 13.0545 41.2674 12.1645C41.7274 11.2694 42.3799 10.5744 43.225 10.0794C44.075 9.57934 45.0826 9.32933 46.2477 9.32933C47.4127 9.32933 48.4178 9.57934 49.2628 10.0794C50.1129 10.5744 50.7679 11.2694 51.2279 12.1645C51.688 13.0545 51.918 14.0946 51.918 15.2847C51.918 16.4647 51.688 17.5023 51.2279 18.3974C50.7679 19.2874 50.1129 19.9824 49.2628 20.4825C48.4178 20.9775 47.4127 21.225 46.2477 21.225ZM46.2627 18.7499C46.7927 18.7499 47.2352 18.5999 47.5902 18.2998C47.9452 17.9948 48.2128 17.5798 48.3928 17.0548C48.5778 16.5297 48.6703 15.9322 48.6703 15.2622C48.6703 14.5921 48.5778 13.9946 48.3928 13.4696C48.2128 12.9445 47.9452 12.5295 47.5902 12.2245C47.2352 11.9195 46.7927 11.767 46.2627 11.767C45.7276 11.767 45.2776 11.9195 44.9126 12.2245C44.5526 12.5295 44.28 12.9445 44.095 13.4696C43.915 13.9946 43.825 14.5921 43.825 15.2622C43.825 15.9322 43.915 16.5297 44.095 17.0548C44.28 17.5798 44.5526 17.9948 44.9126 18.2998C45.2776 18.5999 45.7276 18.7499 46.2627 18.7499ZM57.1908 14.3396V21H53.9956V9.47934H57.0408V11.512H57.1758C57.4308 10.8419 57.8583 10.3119 58.4584 9.92186C59.0584 9.52684 59.7859 9.32933 60.641 9.32933C61.441 9.32933 62.1386 9.50434 62.7336 9.85436C63.3286 10.2044 63.7912 10.7044 64.1212 11.3544C64.4512 11.9995 64.6162 12.7695 64.6162 13.6646V21H61.421V14.2346C61.426 13.5296 61.246 12.9795 60.881 12.5845C60.516 12.1845 60.0134 11.9845 59.3734 11.9845C58.9434 11.9845 58.5634 12.077 58.2333 12.262C57.9083 12.447 57.6533 12.717 57.4683 13.072C57.2883 13.4221 57.1958 13.8446 57.1908 14.3396ZM67.1345 21V9.47934H70.3297V21H67.1345ZM68.7396 7.99425C68.2645 7.99425 67.857 7.83674 67.517 7.52173C67.182 7.20171 67.0145 6.81919 67.0145 6.37416C67.0145 5.93413 67.182 5.55661 67.517 5.2416C67.857 4.92158 68.2645 4.76157 68.7396 4.76157C69.2146 4.76157 69.6196 4.92158 69.9546 5.2416C70.2947 5.55661 70.4647 5.93413 70.4647 6.37416C70.4647 6.81919 70.2947 7.20171 69.9546 7.52173C69.6196 7.83674 69.2146 7.99425 68.7396 7.99425ZM80.5021 25.3202V19.1549H80.4046C80.2546 19.4749 80.0421 19.7924 79.7671 20.1074C79.4971 20.4175 79.1445 20.675 78.7095 20.88C78.2795 21.085 77.7545 21.1875 77.1344 21.1875C76.2594 21.1875 75.4668 20.9625 74.7568 20.5125C74.0517 20.0574 73.4917 19.3899 73.0767 18.5099C72.6667 17.6248 72.4617 16.5397 72.4617 15.2547C72.4617 13.9346 72.6742 12.837 73.0992 11.962C73.5242 11.0819 74.0892 10.4244 74.7943 9.98937C75.5043 9.54934 76.2819 9.32933 77.1269 9.32933C77.772 9.32933 78.3095 9.43934 78.7395 9.65935C79.1745 9.87436 79.5246 10.1444 79.7896 10.4694C80.0596 10.7894 80.2646 11.1044 80.4046 11.4144H80.5396V9.47934H83.6898V25.3202H80.5021ZM78.147 18.6449C78.662 18.6449 79.097 18.5049 79.4521 18.2248C79.8121 17.9398 80.0871 17.5423 80.2771 17.0323C80.4721 16.5222 80.5696 15.9247 80.5696 15.2397C80.5696 14.5546 80.4746 13.9596 80.2846 13.4546C80.0946 12.9495 79.8196 12.5595 79.4596 12.2845C79.0995 12.0095 78.662 11.872 78.147 11.872C77.622 11.872 77.1794 12.0145 76.8194 12.2995C76.4594 12.5845 76.1869 12.9795 76.0019 13.4846C75.8168 13.9896 75.7243 14.5746 75.7243 15.2397C75.7243 15.9097 75.8168 16.5022 76.0019 17.0173C76.1919 17.5273 76.4644 17.9273 76.8194 18.2173C77.1794 18.5024 77.622 18.6449 78.147 18.6449Z" class="fill-variant1"/>
							</svg>
							<div class="text-xs leading-normal font-light sm:text-sm">
								{{ "footer.platoniq.foundation" | trans }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</footer>
